.topic-post.regular {
     margin-right: 11%;
}
.regular {
    padding-left: 20px;
    border-radius: 15px;
}

.suggested-topics .topic-list {
    width: 100%;
}
.timeline-container {
        margin-left: 81%;
}
@media (min-width: 1024px) {
    .timeline-container {
        margin-left: 73%;
    }
}
@media (min-width: 1024px) {
    .archetype-regular .wrap, .archetype-regular .d-header .wrap {
        max-width: 1700px;
         width: 90%
    }
    .topic-body {
        width: 80%;
    }
    #reply-control {
        max-width: 1700px;
        width: 88%
    }
    .composer-popup-container {
        max-width: 1700px;
        width: 90%
    }
    
    .category-list .topics {
        text-align: left;
    }
    .category-list .topics .badge-notification {
        text-align: left!important;
    }
}
@media (min-width: 1400px) {
    .topic-post.regular {
         margin-right: 5%;
    }
    .timeline-container {
        margin-left: 76%;
    }
     .suggested-topics .topic-list {
        width: 85%;
    }   
}

@media (min-width: 1920px) {
   .timeline-container {
        margin-left: 1450px;
    }
}
.user-primary-navigation {
    margin: 20px 0 10px;
}
.topic-avatar {
     padding-left: 0!important;   
     padding-top: 25px
}
.topic-avatar {
  width: 90px;
  .avatar {
    width: 90px;
    height: 90px;
  }
}
.embedded-posts .topic-avatar {
  width: 45px;
  img.avatar {
    width: 45px;
    height: 45px;
  }
}
